/* Error: The target selector was not found.
 * Use "@extend .type-bgcolor !optional" to avoid this error.
 *      ,
 * 1063 |       @extend .type-bgcolor;
 *      |       ^^^^^^^^^^^^^^^^^^^^^
 *      '
 *   components.scss 1063:7  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend .type-bgcolor !optional" to avoid this error.\a      \2577 \a 1063 \2502        @extend .type-bgcolor;\d\a      \2502        ^^^^^^^^^^^^^^^^^^^^^\a      \2575 \a   components.scss 1063:7  root stylesheet';
}
